*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border: none;
    background-color: #fff;
}

.sign-button-section{
    position: absolute;
    display: flex;
    right: 5%;
    top: 2%;
    gap: 10px;
}

.sign-in-btn-wrapper{
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
}

.sign-up-btn-wrapper{
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.top-section-380px img{
    height: 30px;
}

.banner-wrapper-380px{
    background-image: url(assets/banner-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-logo-wrapper{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

.banner-logo-wrapper img{
    border-radius: 20px;
    height: 70px;    
}

.banner-heading-wrapper{
    flex: 1 0 100%;
    text-align: center;
    padding: 20px 15px;
    color: #fff;
    font-size: 2.1em;
    font-weight: 600;
}


.banner-search-wrapper{
    display: flex;
    justify-content: center;
    flex: 1 0 100%;
}

.banner-search-wrapper-1{
    display: flex;
    align-self: center;
    border-radius: 20px;
    padding: 10px 10px;
    gap: 5px;
    justify-content: space-evenly;
    background-color: #fff;
}

.banner-search-img-wrapper{
    display: flex;
    align-self: center;
}

.banner-input-wrapper{
    display: flex;
    align-self: center;
    border: none;
}

.banner-input-wrapper input{
    border: none;
}

.banner-arrow-wrapper{
    display: flex;
    align-self: center;
}


.banner-last-section-wrapper{
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.banner-last-section-wrapper-1{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    background-color: #fff;
    
}

.banner-last-section-wrapper-1 img{
    height: 30px;
}

.use-current-location-wrapper{
    display: flex;
    align-self: center;
    gap: 10px;
    flex: 0 0 100%;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    cursor: pointer;
}
.use-current-location-span-wrapper{
    display: flex;
    align-self: center;
}

.save-address-wrapper{
    display: flex;
    align-self: center;
    gap: 10px;
    flex:0 0 100%;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    cursor: pointer;
}

.save-adress-span-wrapper{
    display: flex;
    align-self: center;
}


/* second section */

.choices-wrapper{
    padding: 8px;
    margin: 40px 0;
}

.choices-wrapper-1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choice-wrapper{
    display: flex;
    padding: 16px;
    gap: 32px;
}

.choice-img-wrapper img{
    height: 90px;
    width: 80px;
}

.choice-explaination-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.choice-heading-wrapper{
    font-size: 1.4em;
    font-weight: bolder;
}

.choice-p-wrapper{
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
    opacity: 0.9;
    
}

.choice-btn{
    color: red;
    cursor: pointer;
}

/* section 3 */
.sec-3-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec-3-part1-wrapper{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.sec-3-part1-img-wrapper{
    display: flex;
    justify-content: flex-end;
    flex: 1 0 100%;
}

.sec-3-part1-img-wrapper img{
   width: 80%;
}

.sec-3-part1-content-wrapper{
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec-3-part1-heading-wrapper{
    font-size: 1.09em;
}

.sec-3-part1-p-wrapper{
    font-size: 0.9em;
    margin-bottom: 6px;
}

.sec-3-btn{
    color: #fff;
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.sec-3-part2-img-wrapper img{
    width: 80%;
}


.sec-3-part2-wrapper{
    /* transform: translateY(10%); */
    position: relative;
    top: 100px;
    padding: 336px 0px  96px;
    background-color: #fff0ed;
}

.sec-3-part2-content-wrapper{
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* footer */

footer.footer-345px{
    transform: translateY(100px);   
    background-color: black; 
}

.city-cuisines-near-wrapper-345px{
    display: flex;
}

.cities-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    text-align: center;
    justify-content: center;
}

.cities-wrapper-345px h2{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cities-list-345px{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cities-list-345px a{
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-size: 0.9em;
    opacity: 0.8;
    flex: 1 0 100%;
}

.cities-list-345px a:hover{
    text-decoration: underline;
    opacity: 1;
}

.cuisines-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    text-align: center;
    justify-content: center;
}

.cuisines-wrapper-345px h2{
    color: #fff;
    /* height: fit-content; */
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cuisines-list-345px{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform: translateY(-18%);
}

.cuisines-list-345px a{
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-size: 0.9em;
    opacity: 0.8;
    flex: 1 0 100%;
}

.cuisines-list-345px a:hover{
    text-decoration: underline;
    opacity: 1;
}
