*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border: none;
    background-color: #fff;
}

.sign-button-section{
    position: absolute;
    display: flex;
    right: 5%;
    top: 2%;
    gap: 10px;
}

.sign-in-btn-wrapper{
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
}

.sign-up-btn-wrapper{
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.top-section-380px img{
    height: 30px;
}

.banner-wrapper-380px{
    background-image: url(assets/banner-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-logo-wrapper{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

.banner-logo-wrapper-960px{
    display: none;
}

.banner-logo-wrapper img{
    border-radius: 20px;
    height: 70px;    
}

.banner-heading-wrapper{
    flex: 1 0 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 15px;
    color: #fff;
    font-size: 2.1em;
    font-weight: 600;
}

.banner-heading-wrapper span{
    flex: 0 0 350px;
}


.banner-search-wrapper{
    display: flex;
    justify-content: center;
    flex: 1 0 100%;
}

.banner-search-wrapper-1{
    display: flex;
    align-self: center;
    border-radius: 20px;
    padding: 10px 10px;
    gap: 5px;
    justify-content: space-evenly;
    background-color: #fff;
}

.banner-search-img-wrapper{
    display: flex;
    align-self: center;
}

.banner-arrow-wrapper-1200px{
    display: none;
}

.banner-location-img-wrapper-768px{
    display: none;
}

.banner-input-wrapper{
    display: flex;
    align-self: center;
    border: none;
}

.banner-input-wrapper input{
    border: none;
}

.banner-arrow-wrapper{
    display: flex;
    align-self: center;
}


.banner-last-section-wrapper{
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.banner-last-section-wrapper-1{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    background-color: #fff;
    
}

.banner-last-section-wrapper-1 img{
    height: 30px;
}

.use-current-location-wrapper{
    display: flex;
    align-self: center;
    gap: 10px;
    flex: 0 0 100%;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    cursor: pointer;
}
.use-current-location-span-wrapper{
    display: flex;
    align-self: center;
}

.save-address-wrapper{
    display: flex;
    align-self: center;
    gap: 10px;
    flex:0 0 100%;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    cursor: pointer;
}

.save-adress-span-wrapper{
    display: flex;
    align-self: center;
}


/* second section */

.choices-wrapper{
    padding: 8px;
    margin: 40px auto;
    max-width: 513px;

}

.choices-wrapper-1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choice-wrapper{
    display: flex;
    padding: 16px;
    gap: 32px;
}

.choice-img-wrapper img{
    height: 90px;
    width: 80px;
}

.choice-explaination-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.choice-heading-wrapper{
    font-size: 1.4em;
    font-weight: bolder;
}

.choice-p-wrapper{
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
    opacity: 0.9;
    
}

.choice-btn{
    color: red;
    cursor: pointer;
}

/* section 3 */
.sec-3-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec-3-part1-wrapper{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.sec-3-part1-img-wrapper{
    display: flex;
    justify-content: flex-end;
    flex: 1 0 100%;
}

.sec-3-part1-img-wrapper img{
   width: 80%;
}

.sec-3-part1-content-wrapper{
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sec-3-part1-heading-wrapper{
    font-size: 1.09em;
}

.sec-3-part1-p-wrapper{
    font-size: 0.9em;
    margin-bottom: 6px;
}

.sec-3-btn{
    color: #fff;
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.sec-3-part2-img-wrapper img{
    width: 80%;
}


.sec-3-part2-wrapper{
    /* transform: translateY(10%); */
    position: relative;
    top: 100px;
    padding: 336px 0px  96px;
    background-color: #fff0ed;
}

.sec-3-part2-content-wrapper{
    max-width: 400px;
    padding-left: 16px;
    padding-right: 81px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* footer */

footer.footer-345px{
    transform: translateY(100px);   
    background-color: black; 
    padding: 20px 0;
}

.city-cuisines-near-wrapper-345px{
    display: flex;
}

.cities-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    text-align: center;
    justify-content: center;
}

.cities-wrapper-345px h2{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cities-list-345px{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cities-list-345px a{
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-size: 0.9em;
    opacity: 0.8;
    flex: 1 0 100%;
}

.cities-list-345px a:hover{
    text-decoration: underline;
    opacity: 1;
}

.cuisines-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    text-align: center;
    justify-content: center;
}

.cuisines-wrapper-345px h2{
    color: #fff;
    /* height: fit-content; */
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cuisines-list-345px{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform: translateY(-18%);
}

.cuisines-list-345px a{
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-size: 0.9em;
    opacity: 0.8;
    flex: 1 0 100%;
}

.cuisines-list-345px a:hover{
    text-decoration: underline;
    opacity: 1;
}

/* footer second section */

.footer-345px-2-sec{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.app-store-google-play-wrapper{
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: center;
}

.app-store-wrapper{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.app-store-wrapper img{
    width: 140px;
    height: 50px;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
}

.app-store-wrapper img:hover{
    opacity: 1;
}

.google-play-wrapper{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.google-play-wrapper img{
    width: 140px;
    height: 50px;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
}

.google-play-wrapper img:hover{
    opacity: 1;
}

.get-to-know-list-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.get-to-know-us-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.get-to-know-us-wrapper-345px h2{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.get-to-know-us-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.get-to-know-items{
    flex: 0 0 100%;
    text-align: center;
    text-decoration: none;
    color:#dfdfdf;
    opacity: 0.8;
    font-size: 0.9em;
}

.get-to-know-items:hover{
    text-decoration: underline;
    opacity: 1;
}

.let-us-help-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.let-us-help-wrapper-345px h2{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
    flex: 1 0 100%;
    text-align: center;

}

.let-us-help-you-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.let-us-help-items{
    flex: 0 0 100%;
    text-align: center;
    text-decoration: none;
    color:#dfdfdf;
    opacity: 0.8;
    font-size: 0.9em;

}

.let-us-help-items:hover{
    opacity: 1;
    text-decoration: underline;
}

.doing-business-wrapper-345px{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doing-business-wrapper-345px h2{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
    flex: 1 0 100%;
    text-align: center;    
}

.doing-business-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.doing-business-item{
    flex: 0 0 100%;
    text-align: center;
    text-decoration: none;
    color:#dfdfdf;
    opacity: 0.8;
    font-size: 0.9em;
}

.doing-business-item:hover{
    text-decoration: underline;
    opacity: 1;    
}

/* lastsection */

.footer-345px-3-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.footer-social-img-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-social-img-wrapper img{
    height: 22px;
    opacity: 0.8;
}

.twitter-logo-wrapper img{
    border-radius: 20px;
    height: 27px;
}

.footer-social-img-wrapper img:hover{
    opacity: 1;
}

.footer-345px-last-section-policy{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
}

.policy-sec-doordash-logo img{
    height: 28px;

}

.policy-sec-item{
    display: flex;
    align-self: center;
    text-decoration: none;
    color:#dfdfdf;
    font-size: 0.9em;
    opacity: 0.8;
}

.policy-sec-item:hover{
    opacity: 1;
    text-decoration: underline;
}

.copy-right:hover{
    text-decoration: none;
    cursor: text;
    opacity: 0.8;
}
.policy-sec-doordash-logo:hover{
    opacity: 0.8;
}

@media screen and (min-width: 490px){

    .sec-3-part2-wrapper{
        top: 250px;
    }

    footer.footer-345px{
        transform: translateY(250px);
    }
}


@media screen and (min-width: 768px){

    /* top banner */

    .banner-search-wrapper-1{
        flex: 0 0 380px;
        justify-content: flex-start;
    }

    .banner-search-img-wrapper{
        display: none;
    }

    .banner-location-img-wrapper-768px{
        display: flex;
        align-self: center;
    }

    .banner-location-img-wrapper-768px img{
        height: 20px;
    }

    .banner-input-wrapper{
        flex: 0 0 300px;
    }

    .banner-last-section-wrapper-1{
        flex: 0 0 380px;
    }

    .use-current-location-wrapper{
        padding: 0 20px;
    }

    .save-address-wrapper{
        padding: 0 20px;
    }

    /* section 3 */

    .sec-3-part1-wrapper{
        display: flex;
        flex-direction: row-reverse;
        z-index: 2;
        max-height: 400px;
        max-width: 1200px;
    }

    .sec-3-part1-img-wrapper{
        flex: 1 0 50%;
    }

    .sec-3-part1-img-wrapper img{
        flex: 0 0 100%;
        max-width: 546px;
    }

    .sec-3-part1-content-wrapper{
        margin: 0px auto 0 5%;
        padding-left: 30px;
        gap: 10px;
        flex: 0 0 40%;
        height: 90%;
    }
    
    .sec-3-part1-heading-wrapper{
        height: fit-content;
        
    }

    .sec-3-part2-wrapper{
        top: 250px;
        padding: 200px 0 96px 2%;
        display: flex;
        flex: 0 0 100%;
        max-height: 700px;
    }

    .sec-3-part2-wrapper-1{
        display: flex;
        flex: 0 0 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .sec-3-part2-img-wrapper{
        display: flex;
        flex: 0 0 50%;
    }

    .sec-3-part2-img-wrapper img{
        flex: 1 0 100%;
        max-width: 546px;
    }

    .sec-3-part2-content-wrapper{
        flex: 1 0 40%;
        margin: 0 auto 0 auto;
        padding: 0 81px 0 30px;
        height: 70%;
        justify-content: center;
    }

    .sec-3-part2-heading-wrapper{
        flex: 0 0 100%;
    }

    .sec-3-btn-wrapper{
        flex: 0 0 100%;
    }

    /* footer section */

    .city-cuisines-near-wrapper-345px{
        flex-wrap: wrap;
    }

    .cities-wrapper-345px{
        justify-content: flex-start;
        text-align: left;
    }

    .cities-list-345px a{
        flex: 1 0 30%;
    }

    .cuisines-wrapper-345px{
        justify-content: flex-start;
        text-align: left;
    }

    .cuisines-list-345px{
        transform: translateY(0%);
    }

    .cuisines-list-345px a{
        flex: 1 0 40%;
    }

    .get-to-know-list-wrapper-345px{
        flex-wrap: nowrap;
        gap: 1px;
    } 

    .get-to-know-list-wrapper-345px h2{
        text-align: left;
    }

    .get-to-know-items{
        text-align: left;
    }

    .get-to-know-us-wrapper-345px{
        justify-content: flex-start;
        flex: 1 0 33.333336%;
    }

    .let-us-help-wrapper-345px{
        justify-content: flex-start;
        flex: 1 0 33.333336%;
        height: 30%;
    }

    .let-us-help-items{
        text-align: left;
    }

    .doing-business-wrapper-345px{
        justify-content: flex-end;
        flex: 1 0 30.333336%;
        height: 30%;
    }

    .doing-business-item{
        text-align: left;
    }

    .footer-345px-3-sec{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }

    .footer-345px-last-section-policy{
        padding: 10px 0;
    }

    .facebook-logo-wrapper, .twitter-logo-wrapper, .instagram-logo-wrapper{
        display: flex;
        align-self: center;
    }



}

@media screen and (min-width: 960px){
    /* banner */
    .banner-logo-wrapper{
        display: none;
    }

    .banner-logo-wrapper-960px{
        display: flex;
    }

    .banner-wrapper-380px{
        background: url(assets/banner-background-960px.png);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 50px 10px 100px 10px;
    }

    .banner-heading-wrapper{
        font-size: 4em;
    }

    .banner-heading-wrapper span{
        flex: 0 0 700px;
    }

    .footer-345px-2-sec{
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 30%;
    }

    .get-to-know-list-wrapper-345px{
        flex: 1 0 50%;
    }

    .app-store-google-play-wrapper{
        flex: 1 0 20%;
        height: 30%;
    }

    .city-cuisines-near-wrapper-345px{
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    
}

@media screen and (min-width: 1100px){

    .sec-3-part1-wrapper{
        left: 50%;
        transform: translateX(-50%);
    }
    .sec-3-part1-content-wrapper{
        font-size: 1.5em;
        margin: 0 auto 0 1%;
    }

    .sec-3-part1-img-wrapper img{
        max-width: 600px;        
    }

    .sec-3-part2-wrapper{
        padding: 150px 0 96px 2%;
        top: 300px;
    }

    .sec-3-part2-img-wrapper img{
        max-width: 600px;
    }

    .sec-3-part2-content-wrapper{
        font-size: 1.5em;
    }

    .city-cuisines-near-wrapper-345px, .footer-345px-2-sec, .footer-345px-3-sec{
        max-width: 1200px;
        margin: 0 auto;
    }

    .app-store-wrapper img, .google-play-wrapper img{
        width: 170px;
        height: 70px;
    }
}

@media screen and (min-width: 1200px){

    .banner-wrapper-380px{
        background: url(assets/banner-background-1080px.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-arrow-wrapper{
        display: none;
    }

    .banner-search-wrapper-1{
        padding: 5px 10px;
    }

    .banner-arrow-wrapper-1200px{
        display: flex;
        align-self: center;

    } 

    .banner-arrow-wrapper-1200px img{
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }

    .choices-wrapper{
        max-width: 1200px;
    }
    .choices-wrapper-1{
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1200px;
    }

    .choice-wrapper{
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    }

    .choice-img-wrapper img{
        width: 152px;
        height: 152px;
    }

    .choice-explaination-wrapper{
        justify-content: center;
        text-align: center;
    }
}